<!DOCTYPE html>
<html>
    <head>
        <title>Searq</title>
        <meta charset="UTF-8">
        <meta name="description" content="Test assignment">
        <meta name="keywords" content="HTML,CSS,JavaScript">
        <meta name="author" content="Mattias Berkesten">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../styles/normalize.css">
        <link rel="stylesheet" href="../styles/common.css">
        <link rel="stylesheet" href="../styles/style.css">
    </head>    
    <body>
        <div class="main-wrapper">
            <header class="main-header">
                <img class="logo" src="../images/logo.svg" alt="Logo of Searq">
            </header>
            <div class="main-content">
                <div class="search-wrapper">
                    <div class="field-wrapper">
                        <img class="search-icon" src="../images/search.svg" alt="magnifyer-glass">
                        <form id="search-form">
                            <input id="search" name="search-string" type="text" placeholder="Search for something..." autocomplete="off">
                        </form>
                    </div>
                    <div id="search-suggestions" class="search-suggestions hide">
                        <ul>
                            
                        </ul>
                    </div>
                </div>
                <div id="previous-results" class="previous-results"></div>
            </div>
            <div id="overlay" class="overlay hide"></div>
        </div>
        <script src="../js/functions.js"></script>
    </body>
</html>